* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.wrapper {
  padding: 12px;
}

.container {
  width: 980px;
  margin: auto;
}

.container-fluid {
  width: 100%;
  margin: auto;
}