extends ../layout/main.pug

block vars
  - subtitle = 'Index'

block content
  ul
    li
      a(href="/sample/buttons.html", title="Buttons") Buttons
    li
      a(href="/sample/translucent-borders.html", title="Translucent Borders") Translucent Borders
    li
      a(href="/sample/multiple-borders.html", title="Multiple Borders") Multiple Borders
    li
      a(href="/sample/flexible-bg-positioning.html", title="Flexible Background Positioning") Flexible Background Positioning


      