extends ../layout/main.pug

block vars
  - subtitle = 'Index'

block content
  h2 Chapter 1: Introduction
  ul
    li
      a(href="/sample/buttons.html", title="Buttons") Buttons
  h2 Chapter 2: Backgrounds &#38; Borders
  ul
    li
      a(href="/sample/translucent-borders.html", title="Translucent borders")
        | Translucent borders
    li
      a(href="/sample/multiple-borders.html", title="Multiple borders")
        | Multiple borders
    li
      a(href="/sample/flexible-bg-positioning.html", title="Flexible background positioning")
        | Flexible background positioning
    li
      a(href="/sample/inner-rounding.html", title="Inner rounding")
        | Inner rounding
    li
      a(href="/sample/striped-backgrounds.html", title="Striped backgrounds")
        | Striped backgrounds&nbsp;
        small (pending...)
    li
      a(href="/sample/complex-bg-patterns.html", title="Complex background patterns")
        | Complex background patterns&nbsp;
        small (pending...)
    li
      a(href="/sample/random-backgrounds.html", title="Random backgrounds")
        | (Pseudo)&nbsp;Random backgrounds&nbsp;
        small (pending...)
    li
      a(href="/sample/continuous-image-borders.html", title="Continuous image borders")
        | Continuous image borders
    
  h2 Chapter 4: Visual Effects
  ul
    li
      a(href="/sample/one-side-shadows.html", title="One-sided shadows")
        | One-sided shadows
    li
      a(href="/sample/irregular-drop-shadows.html", title="Irregular drop shadows")
        | Irregular drop shadows
    li
      a(href="/sample/color-tinting.html", title="Color tinting")
        | Color tinting
    li
      a(href="/sample/frosted-glass-effect.html", title="Frosted glass effect")
        | Frosted glass effect
    li
      a(href="/sample/folded-corner-effect.html", title="Folded corner effect")
        | Folded corner effect


      