doctype html
html
  head
    link(href="css/style.css", rel="stylesheet")
    title CSS Secrets
  body
    .wrapper
      .btn-wrapper
        button.btn.btn-primary Continue
        button.btn.btn-success OK
        button.btn.btn-danger Delete
    