doctype html
html
  head
    link(rel="stylesheet", href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet", href="css/index.css")
    title CSS Secrets
  body.p-lg
    .wrapper
      .text-center
        button.btn.btn-primary.mr Continue
        button.btn.btn-success.mr OK
        button.btn.btn-danger Delete
    