extends ../../layout/main.pug

block vars
  - subtitle = 'Buttons'

block content
  .container
    h1= subtitle
    .test-button
      | Operations: 
      button.btn.btn-primary.mr Continue
      button.btn.btn-success.mr OK
      button.btn.btn-danger Delete