extends ../../layout/main.pug

block vars
  - subtitle = 'Continuous image borders'

block content
  .container
    h1= subtitle
    .test-cib-1.text-center Hatsune Miku
    .test-cib-2.mt
      p Dear Hatsune Miku,
      p 
      p Thank you for your lovely songs.
      p Love forever!
    .test-cib-3.mt Ants
