extends ../../layout/main.pug

block vars
  - subtitle = 'Extended Background Position'

block content
  .container
    h1= subtitle
    h2 background-position
    .test-ebp-1
    h2 background-origin
    .test-ebp-2
