extends ../../layout/main.pug

block vars
  - subtitle = 'Flexible Background Positioning'

block content
  .container
    h1= subtitle
    h2 background-position
    .test-fbp-1
    h2 background-origin
    .test-fbp-2
    h2 calc()
    .test-fbp-3
