extends ../../layout/main.pug

block vars
  - subtitle = 'Multiple Borders'

block content
  .container
    h1= subtitle
    h2 box-shadow
    .test-mb-1
    h2(style="margin-top: 36px;") outline
    .test-mb-2
