extends ../../layout/main.pug

block vars
  - subtitle = 'Translucent Borders'

block content
  .container
    h1= subtitle
    .test-tb-container
      .test-tb-inner
        h1.text-center Hatsune Miku