block vars

doctype html
html
  head
    link(rel="stylesheet", href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet", href="/css/index.css")
    title= subtitle + " | CSS Secrets"
  body
    .wrapper
      block content